* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}


body {
    font-family: 'poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}



header {
    background-image: url('images/background-image1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

header h1 {
    font-size: 85px;
    margin-top: 100px;
    font-weight: 500;
}

header p {
    font-size: 20px;
    margin: 0.5rem 0;
}

header a.cta {
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 1rem;
    transition: all 0.2s;
}

header a.cta:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

a:hover {
    color: #555;
}

header img {
    height: 50%;
    margin-right: 10px;
    
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 7%;
}

nav img {
    height: 40px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}



main {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

section {
    margin-bottom: 40px;
}

section h3 {
    color: #333;
    margin-bottom: 1rem;
}

#features {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
    padding-bottom: 50px;
}

.service {
    margin-bottom: 30px;
    width: 30%;
    display: inline-block;
    margin: 0 2rem;
    text-align: center;
}

.service img {
    width: 200px;
    max-width: 200px; 
    border-radius: 15px;
    margin-bottom: 10px;
}



#about {
    line-height: 30px;
    padding: 20px 8%;
}

#about h2 {
    text-align: center;
    font-size: 2rem;
}

#about img {
    margin-top: 50px;
}



section form {
    max-width: 600px;
    margin-top: 2rem;
    align-items: center;
}

section label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
}

button:hover {
    background-color: #555;
}



#pricing {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.pricing-plan {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 300px;
}

.price {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
}

.pricing-plan {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.subscribe-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: #555;
}



#contact {
    justify-content: center;
    padding: 50px 7%;
    line-height: 30px;
}

#contact h2 {
    
    font-size: 2rem;
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
}